<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--         <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">hr</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property> -->
        
        
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">hr</property>
        <property name="connection.password">hr</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        
        <!--  <mapping resource="com/reverse/generated/JobHistory.hbm.xml" />
        <mapping resource="com/reverse/generated/PsTxn.hbm.xml" />
        <mapping resource="com/reverse/generated/Countries.hbm.xml" />
        <mapping resource="com/reverse/generated/Locations.hbm.xml" />
        <mapping resource="com/reverse/generated/Departments.hbm.xml" />
        <mapping resource="com/reverse/generated/Regions.hbm.xml" />
        <mapping resource="com/reverse/generated/Jobs.hbm.xml" />
        <mapping resource="com/reverse/generated/Employees.hbm.xml" />
        <mapping resource="com/reverse/generated/EmpDetailsView.hbm.xml" /> -->
        <mapping resource="com/hib/pojo/Event.hbm.xml"/> 

    </session-factory>
</hibernate-configuration>
